body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.App {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header, .footer {
  text-align: center;
  background-color: #282c34;
  color: white;
  padding: 10px;
}

.section {
  padding: 20px;
  line-height: 1.6;
}

.section h2 {
  color: #333;
  border-bottom: 1px solid #ccc;
}

.section ul {
  list-style: none;
  padding-left: 0;
}

.section li {
  margin-bottom: 10px;
}


.contact-info {
  font-style: italic;
  color: white;
  margin-top: 10px;
}
.contact-info a {
  color: white;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
